.profilePhoto {
img {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    align-items: center;
    margin: auto;
    display: block;
    }
}

.navbar{
    ion-navbar {
        vertical-align: middle !important;
        }
}

.camerIcon{
    background: black;
    height: 20px;
    width: 20px;
}

.center-text {
    ion-card-content{    
    text-align: center;
    }

    ion-label { 
    color: black !important;
    font-weight: normal !important;
    }

    h1 { 
    font-size: 14px !important;
    color: black !important;
    font-family: 'Gotham'; 
    }

    h2 { 
    height: 12px;
    font-size: 14px !important;
    color: black !important;
    font-family: 'Gotham';
    padding:0px;
	  margin-bottom:0px;
    margin-top:14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    }

    input{
        border: none;
    }

    p { 
    height: 14px;
    font-size: 14px !important;
    color: black !important;
    font-family: 'Gotham'; 
    margin-top: 8px;
    margin-bottom:8px;
    color: #000;
    font-weight: normal !important;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    }

    div {
    margin-bottom: 0.19em;
    border-bottom: 14px solid #FFFAFA;
    padding: 0.5em 0 0.17em 0;
    color: #FFFAFA;
    }

    textarea {
    width: calc(100% - 10px);
    border: 0;
    border-radius: 0;
    background: transparent;
    text-decoration: none !important;
  }
}

.icon {
    font-size: 52px;
}

.settings {
img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    align-items: left;
    margin: auto;
    display: block;
    }
}

.add-background {
div{
    border: none !important;
}
img{
  width: 96px;
  height: 96px;
  border-radius: 1.5px;
  background-color: #f2f4f7;
  align-items: left !important;
  text-align: left !important;
  margin: 10px 0 10px -5px;
 }
}

.selected-places {
ion-label{
  width: 79.4px;
  font-family: Gotham;
  font-size: 14.2px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: black !important;
  overflow-y: visible !important;
 }
 ion-chip{
  width: 123.7px !important;
  height: 34.1px !important;
  border-radius: 6.8px !important;
  padding: 5px;
  margin: 5px 10px 10px 0;
 }
 img{
  width: 9px;
  height: 11px;
 }
}