.profilePhoto {
img {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    align-items: center;
    margin: auto;
    display: block;
    }
}


.center-text {
ion-card-content{    
   text-align: center;
    }

    h1 { 
    font-size: 12px !important;
    color: black !important;
    font-family: 'Gotham'; 
    }

    h2 { 
    font-size: 14px !important;
    color: black !important;
    font-family: 'Gotham'; 
    }

    p { 
    font-size: 14px !important;
    color: black !important;
    font-family: 'Gotham'; 
    margin-bottom: 0.6em;
    border-bottom: 4px solid #FFFAFA;
    padding: 0.5em 0 0.17em 0;
    color: #000;
    font-weight: normal !important;
    }

    div {
    margin-bottom: 0.19em;
    border-bottom: 14px solid #FFFAFA;
    padding: 0.5em 0 0.17em 0;
    color: #FFFAFA;
    }
}

.icon {
    font-size: 52px;
}

.settings {
img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    align-items: left;
    margin: auto;
    display: block;
    }
}