.profilePhoto {
img {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    align-items: center;
    margin: 60px auto;
    display: block;
    }

    .prflBg {
        ion-card-content{
        background-image: url('../assets/img/headerBg.png');
        background-size: 320px 158px;
        object-fit: contain !important;
        }
    }
}

.navbar{
    ion-navbar {
        vertical-align: middle !important;
        }
}

.camerIcon{
    background: black;
    height: 20px;
    width: 20px;
}

.center-text {
    ion-card-content{    
    text-align: left;
    margin-right: 0 auto !important;
    margin-left: 0 auto !important;
    }

    ion-card{    
    margin-right: 0 auto !important;
    margin-left: 0 auto !important;
     }

    ion-content{    
    margin-right: 0 auto !important;
    margin-left: 0 auto !important;
     }

    ion-label { 
    color: black !important;
    font-weight: normal !important;
    }

    input{
        border: none;
    }

    textarea {
    width: calc(100% - 10px);
    border: 0;
    border-radius: 0;
    background: transparent;
    text-decoration: none !important;
  }
}

.icon {
    font-size: 52px;
}

.settings {
img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    align-items: left;
    margin: auto;
    display: block;
    }
}

.add-background {
div{
    border: none !important;
}

img{
  width: 96px;
  height: 96px;
  border-radius: 1.5px;
  background-color: #f2f4f7;
  align-items: left !important;
  text-align: left !important;
  margin: 10px 0 10px -5px;
 }
}

.selected-places {
ion-label{
  width: 79.4px;
  font-family: Gotham;
  font-size: 14.2px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: black !important;
  overflow-y: visible !important;
 }

 ion-chip{
  width: 123.7px !important;
  height: 34.1px !important;
  border-radius: 6.8px !important;
  padding: 5px;
  margin: 5px 10px 10px 0;
 }

 img{
  width: 9px;
  height: 11px;
 }

  ion-toggle{
    background:  rgba(19,41,144,0.80) !important;
    color: black !important;
    font-weight: normal !important;
 }
}