<ion-header>
  <ion-navbar color="navbar" class="navbar">
      <ion-buttons left>
          <button ion-button text-only (click)="skipAddingInfo()">
             Skip
          </button>
      </ion-buttons>
      <ion-title text-center>Profile</ion-title>
      <ion-buttons right>
          <button ion-button text-only (click)="savePersonalInfo()">
              Save
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding class="profilePhoto center-text" *ngIf="loggedInUser">
    <ion-card class="prflBg">
      <ion-card-content >
            <div [ngSwitch]="this.cameraServiceProvider.photo0">
                <div *ngSwitchDefault>
                    <img [src]="this.cameraServiceProvider.photo0" (click)="Present('photo0.png')"/>
                </div>
                <div *ngSwitchCase="'UseButton'">
                    <img src="assets/img/add-an-image.png" (click)="selectPhoto('photo0.png')"/>
                </div>      
            </div>
        </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-label>Background Info</ion-label>
      </ion-card-content>
      <ion-card-content>
        <ion-label>Name</ion-label>
        <p>{{ loggedInUser.displayName }}</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-label>City</ion-label>
          <input [(ngModel)]="location" placeholder="Enter city" #search> 
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-label>Enter bio</ion-label>
        <textarea #myInput rows="1" maxLength="50" (keyup)="resize()" [(ngModel)]="bio" placeholder="Enter your bio"></textarea>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <ion-label>Add photos</ion-label>
        <ion-row class="add-background">
          <ion-col>
            <div [ngSwitch]="this.cameraServiceProvider.photo1">
                <div *ngSwitchDefault>
                    <img [src]="this.cameraServiceProvider.photo1" (click)="Present('photo1.png')"/>
                </div>
                <div *ngSwitchCase="'UseButton'">
                    <img src="assets/img/add-an-image.png" (click)="selectPhoto('photo1.png')"/>
                </div>      
            </div>
          </ion-col>
          <ion-col >
            <div [ngSwitch]="this.cameraServiceProvider.photo2">
                <div *ngSwitchDefault>
                    <img [src]="this.cameraServiceProvider.photo2" (click)="Present('photo2.png')"/>
                </div>
                <div *ngSwitchCase="'UseButton'">
                    <img src="assets/img/add-an-image.png" (click)="selectPhoto('photo2.png')"/>
                </div>      
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="add-background">
          <ion-col>
            <div [ngSwitch]="this.cameraServiceProvider.photo3">
                <div *ngSwitchDefault>
                    <img [src]="this.cameraServiceProvider.photo3" (click)="Present('photo3.png')"/>
                </div>
                <div *ngSwitchCase="'UseButton'">
                    <img src="assets/img/add-an-image.png" (click)="selectPhoto('photo3.png')"/>
                </div>      
            </div>
          </ion-col>
          <ion-col >
            <div [ngSwitch]="this.cameraServiceProvider.photo4">
                <div *ngSwitchDefault>
                    <img [src]="this.cameraServiceProvider.photo4" (click)="Present('photo4.png')"/>
                </div>
                <div *ngSwitchCase="'UseButton'">
                    <img src="assets/img/add-an-image.png" (click)="selectPhoto('photo4.png')"/>
                </div>      
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-content>
      <div>
          <ion-label>Future destinations</ion-label>
          <input placeholder="Enter city" #searchPlaces>
      </div>
          <div class="chipTest" *ngFor="let intPlace of intPlaces">
            {{ intPlace }}
            <span class="closebtn" (click)="deletePlace(intPlace)">&times;</span>
          </div>
      </ion-card-content>
    </ion-card>

   <ion-card>
    <ion-card-content class="toggleLabel">
       <ion-label>Notifications</ion-label>
        <ion-item>
          <ion-label>New Connections</ion-label>
          <ion-toggle [(ngModel)]="connectionNotifications" ></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>New Messages</ion-label>
          <ion-toggle [(ngModel)]="messageNotifications" ></ion-toggle>
        </ion-item>
        <ion-item>
        <ion-label>Show trips</ion-label>
        <ion-toggle [(ngModel)]="showTrips" ></ion-toggle>
      </ion-item>
    </ion-card-content> 
  </ion-card>

      <button ion-button block color="navbar" (click)="savePersonalInfo()">Save</button>
      <button ion-button block color="navbar" (click)="logoutOfFacebook()">Logout</button>

  <ion-content class="settings">
    <ion-row>
        <img src="assets/img/advanced.png" (click)="goToSettings()"/>
    </ion-row>
  </ion-content>
</ion-content>

