page-itinerary {

    ion-label { 
    color: black !important;
    font-weight: normal !important;
    }
        
    input{
        border: none;
    }

    .ion-cards{
        ion-card {
        margin-top:20px !important;
        padding-top: 50px !important;
        border-top: 20;
        }
    }
}
