<!--
  Generated template for the ItineraryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="navbar">
    <ion-buttons left>
        <button ion-button text-only (click)="closeModal()">
          Cancel
        </button>      
    </ion-buttons> 
    <ion-title text-center>Create itinerary</ion-title> 
      <ion-buttons right>
        <button ion-button text-only [disabled]="!sdate.valid || !edate.valid || !city.valid" (click)="saveItinerary()">
          Save
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg">
  <ion-card padding class="ion-cards">
    <ion-card-content padding>
      <div >
          <ion-label for="destination">*Destination</ion-label>
          <input type="text"  [(ngModel)]="destination" 
            name="destination" required id="destination" #city="ngModel" placeholder="Enter destination" #destin>
      </div>
      <div class="form-group">
        <ion-label >*Trip start and enddates</ion-label>
          <p style="float: left;">
            <input type="date" [(ngModel)]="startDate" #sdate="ngModel"  required />
          </p>
          <p style="float: right;">
            <input type="date" [(ngModel)]="endDate" #edate="ngModel"  required />
          </p>
      </div>
      <div>
        <ion-label>Trip details</ion-label>
        <textarea rows="4" cols="35" [(ngModel)]="tripDetails"
          name="tripDetails" placeholder="Tell us why someone would want to join you">
        </textarea>
      </div>
      <div>
            <ion-label>Activities</ion-label>
            <input type="text" [(ngModel)]="addActivities" 
              name="addActivities" (keyup.enter)="addActivity()" 
                    placeholder="Enter activity">
      </div>
          <div class="chip" *ngFor="let activity of activities">
                <label> {{ activity }} </label>
                <button (click)="deleteActivity(activity)">
                  <img src="assets/img/ic-small-close.png"/>
                </button>
          </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<!--<ion-content class="cards-bg">
<ion-card padding class="ion-cards">
  <ion-card-content padding>
    <form #loginForm="ngForm" (ngSubmit)="saveItinerary()" autocomplete="off">
        <div class="form-group">
            <label for="destination">Destination</label>
            <em *ngIf="loginForm.controls.destination?.invalid &&
                loginForm.controls.destination?.touched">Required</em>
            <input #destin (ngModel)="destination" name="destination" required id="destination" type="text" 
              class="form-control" placeholder="Enter destination"/>
        </div>
        <div class="form-group">
            <label for="startDate">Start date</label>
            <em *ngIf="loginForm.controls.startDate?.invalid &&
                loginForm.controls.startDate?.touched">Required</em>
            <input (ngModel)="startDate" name="startDate" required id="startDate" type="date" 
              class="form-control" placeholder="Start date"/>
        </div>
    </form>
      </ion-card-content>
</ion-card>
</ion-content>-->