<!--
  Generated template for the PopularPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="navbar">
        <ion-buttons left>
        </ion-buttons>
      <ion-title text-center>Popular Itineraries</ion-title>
      <div right>
              <img class="img" src="assets/img/ic-add.png" (click)="openModal()"/>
      </div>
  </ion-navbar>

</ion-header>
<ion-tabs class="tabs-stable tabs-icon-top">
    <ion-tab title="Popular" icon="ion-map">
        // Tab content goes here
    </ion-tab>
    <ion-tab title="Matching" icon="ion-chatboxes">
        // Tab content goes here
    </ion-tab>
</ion-tabs>

<ion-content padding>
<ion-list>
      <div *ngFor="let userItinerary of itineraryList$ | async">
        <ion-card class="itinerary-module">
            <ion-card-content>
              <div>
                <h2>{{userItinerary.itinerary.startDate | date: "MM/dd/yyyy"}} - {{userItinerary.itinerary.endDate | date: "MM/dd/yyyy"}}</h2>
              </div>
              <div>
                <h1>{{userItinerary.itinerary.destination}}</h1>
              </div>
              <div>
                <h2>{{userItinerary.itinerary.tripDetails}}</h2>
              </div>
              <div class="chip" *ngFor="let activity of userItinerary.itinerary.activities">
                <label> {{ activity }} </label>
              </div>
            </ion-card-content>

            <!--<ion-row>
              <ion-col>
                <button ion-button icon-left clear small>
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>12 Likes</div>
                </button>
              </ion-col>
            </ion-row>-->
        </ion-card>
      </div>
    </ion-list>
</ion-content>
